%div.like-link{id: "like-link-#{prototype.id}"}
  - if current_user.likes.find_by(prototype_id: prototype.id)
    = link_to unlike_path(prototype.id), method: :delete, remote: true do
      %i.fas.fa-heart.heart{id: "heart-#{prototype.id}"}
        = prototype.likes.count.to_s
  - else
    = link_to like_path(prototype.id), method: :post, remote: true do
      %i.fas.fa-heart.heart-empty{id: "heart-#{prototype.id}"}
        = prototype.likes.count.to_s
